/* estilo universal*/
*{
	font-family:roboto, arial;
	 
}
body{
	max-width:1380px;
	margin: 0 auto;
}

/*estilo de la cabezera*/
.principal{
	width: 100%;
	height: 305px;
	background-color: #fff;
}
		.logotipo{
		    padding: 0px 0 0 0px;
		}
		.buscando{
		    float: right;
		    padding: 146px 30px 0 0;
		}
		.redes{
			float: right;
			padding: 146px 30px 0 0;
			display: inline-block;
			}
			.redes img{
				padding: 0 5px;
			}
/*Estilos generales de la navegacion*/

	.menuprincipal{
	display:inline-block;
	height: 50px
	width:100%;
	float: right;
	margin:-80px 50px 0 0;
	font-size: 24px;

	}
	
/*primer nivel*/
	.menuprincipal ul{
	    list-style: none; 
	    
	}
	.menuprincipal ul li a{
			text-decoration: none;
			padding: 1em;
			background-color:#0070bb;
			color:#fff;
			display:block;
			border: 2px solid #0070bb;
		}
	.menuprincipal ul li a:hover{
		background-color:#fff;
		 color:#0070bb;

	}
	.menuprincipal ul li {
		float:left;
	}	


/*ESTILOS DE CONTENIDO*/
.contenidogeneral{
	margin: 0 auto;
	height: 3340px;
}
	.imagenecentro{
		text-align: center;
		margin: 50px 0 0 0 ;
	}
	.postcentro{
		text-align: center;
		font-size: 26px;
		font-weight: bold;
		color: #0070bb;
		text-align: center;
		margin: 70px 0 0 0 ;
	}
	.imagenproductos{
		display: inline-block;
		padding: 60px 20px 0 20px ;

	}
	.imagenproductos img {
		padding: 0 50px;
	}
	
	.textoproductos h1 {
		font-size: 20px;
		font-weight: italic;
		color: #000;
		display: inline-block;
	}
	.a{
		float: left;
		margin: 10px 0 0 80px;
	}
	.b{
		float: left;
		margin: 10px 0 0 130px;
	}
	.c{
		float: left;
		margin: 10px 0 0 100px;
	}
	.d{
		float: left;
		margin: 10px 0 0  60px;
	}
	.e{
		float: left;
		margin: 10px 0 0 45px;
	}
	.f{
		float: right;
		margin: 10px 80px 0 0;
	}


.imag{
	float: left;
	margin: 140px 0 0 0 ;

}
.imag img{
	padding: 50px 0;
}

.g{
	float: left;
	margin: -1900px 0;
}
.h{
	float: left;
	margin: -1610px 0;
}
.i{
	float: left;
	margin: -1050px 0
}
.j{
	float: left;
	margin: -700px 0;
}

.textofin{
	text-align: center;
	font-size: 20px;
	font-weight: italic;
	color: #0070bb;
	display: inline-block;
}





/*FOOTER*/

.pie{
	margin: 0 auto;
	height: 100%;
	color:#fff;
}
.fondo2{
	width:1380px;
	height: 355px;
	background-color: #333;
	margin:0 auto;

}
.contactos{
	font-size:18px;
	float: left;
	padding: 0 0 0 120px;Í


}
.contactos h3 {
	font-size: 18px;
	padding: 40px 0 0 0;

}
.contactos p {
	font-size: 18px;
	padding: 1em;

}
.redespie{
	float: left;
	align-items: left ;
	padding: 0 auto;
	margin: 50px 40PX 122PX 122px;
}
.redespie img {
	position: relative;
	top:20px;
	bottom:;
	right:550px;
	left:;

	}
   .redespie img {
   	display: flex;
   	padding: 1em;


}
.redesi{
	float: right;
	padding: 2em;
	margin: 50px 120px 0;
}





@media screen and (max-width: 780px){

	body{
		width: 100%;
	}
		.menuprincipal{
			width: 80%;
		}
		.logotipo{
			width: 50%;
		}
		.buscando{
			display: none;
		}
		.menuprincipal{
			float: left;
			margin:0 0 0 0; 
			width: 70%;
		}
		.menuprincipal ul{
			display: inline-block;
			width: 100%;
		}
		.menuprincipal ul li a{
			width: 100%;
		}
		.menuprincipal ul li {
			display: inline-block;
			width: 50%;
		}
		.contenidocentro{
			width: 100%;
		}
		.postcentro h1{
			width: 100%;
			
		}
		.imagenecentro img {
			width: 100%;

		}
		.imagenproductos img {
			width: 8%;
			padding-bottom: 50px;
			padding-top: 50px; 
		}
		.a{
			float: left;
			margin: -220px 0 0 50px; 
			width: 100%
		}
		.b{
			float: left;
			margin: -220px 0 0 200px;
			width: 100%;
		}
		.c{
			float: left;
			margin: -220px 0 0 350px;
			width: 100%;
		}
		.d{
			float: left;
			margin: -220px 0 0 530px;
			width: 100%;
		}
		.e{
			float: left;
			margin: -20px 0 0 30px;
			width: 100%;
		}
		.f{
			float: left;
			margin: -20px 0 0 200px;
			width: 100%;
		}

		.imag  {
			width: 80%;
			padding: -100px 0 0 0;
		}
		.imag img {
			width: 100%;
			margin-left: 0 0 0 50px;

		}
		.g{
			float: left;
			width: 100%;
			padding: 700px 0 0 0;
			
		}
		.h{
			float: left;
			width: 100%;
			padding: 650px 0 0 0;
		}
		.i{
			float: left;
			width: 100%;
			padding: 420px 0 0 0;
		}
		.j{
			float: left;
			width: 100%;
			padding: 300px 0 0 0;
		}
.pie{
			width: 100%;
			margin: -500px 0 0 0;
		}
		.fondo2{
			width: 768px;
		}
		.redespie{
			display: block;
			float: left;
		}
		.redesi{
			margin: -430px 50PX 0 0 ;
		}






		

