/* estilo universal*/
*{
	font-family:roboto, arial;
	 
}
body{
	max-width:1380px;
	margin: 0 auto;
}

/*estilo de la cabezera*/
.principal{
	width: 100%;
	height: 305px;
	background-color: #fff;
}
		.logotipo{
		    padding: 0px 0 0 0px;
		}
		.buscando{
		    float: right;
		    padding: 146px 30px 0 0;
		}
		.redes{
			float: right;
			padding: 146px 30px 0 0;
			display: inline-block;
			}
			.redes img{
				padding: 0 5px;
			}
/*Estilos generales de la navegacion*/

	.menuprincipal{
	display:inline-block;
	height: 50px
	width:100%;
	float: right;
	margin:-80px 50px 0 0;
	font-size: 24px;

	}
	
/*primer nivel*/
	.menuprincipal ul{
	    list-style: none; 
	    
	}
	.menuprincipal ul li a{
			text-decoration: none;
			padding: 1em;
			background-color:#0070bb;
			color:#fff;
			display:block;
			border: 2px solid #0070bb;
		}
	.menuprincipal ul li a:hover{
		background-color:#fff;
		 color:#0070bb;

	}
	.menuprincipal ul li {
		float:left;
	}	


/*estilos de contenido*/
.contenidogeneral{
	margin: 0 auto;
	height:1990px;

	
}
	.contenido{
		margin:0 auto;
		padding: 60px 0 120px 0;
	}

	
		.postcentro{
			position:absolute;
			display: block;
			width:1380px ;
			height: 0;
		}
			.postcentro h2{
				font-size: 36px;
				font-weight: bold;
				color: #0070bb;
				text-align: center;
				padding-bottom: 50PX

			}

			.postcentro p{
				padding:0 ;
				text-align:center;
				font-size: 36px;
				font-family:roboto,arial;
			}
			.imagencentro{
			text-align:center;
			}
			.imagencentro{
			float: left;
			height: 600px;
			width: 1380px;
			background-color: #cae1f1;
			}
			.imagencentro p{
				float: left;
				padding: 150px 0 0 0;

			}
			.subtitulo1{
				float: left;
				padding: 450px 0 0 0 ;
				width: 30%;
				font-size: 26px;
			}
			.subtitulo2{
				float: left;
				padding: 450px 0  0 70px;
				width:30%;
				font-size: 26px;


			}
			.subtitulo3{
				float: right;
				padding: 450px 0 0px 0;
				width:30%;
				font-size: 26px;

			}
		
		.contenidoizq {
			float:left;
			height: 504px; 
			width: 576px;
			margin: 0 0 0 0 ;
			

		}
		.contenidoder {
			float:right;
			height: 504px; 
			width: 576px;
			

		}	
			
		.mapa{
			text-align: center;
			padding-bottom: 10px
			
		}
		
/*FOOTER*/

.pie{
	margin: 0 auto;
	height: 100%;
	color:#fff;
}
.fondo2{
	width:1380px;
	height: 355px;
	background-color: #333;
	margin:0 auto;

}
.contactos{
	font-size:18px;
	float: left;
	padding: 0 0 0 120px;Í


}
.contactos h3 {
	font-size: 18px;
	padding: 40px 0 0 0;

}
.contactos p {
	font-size: 18px;
	padding: 1em;

}
.redespie{
	float: left;
	align-items: left ;
	padding: 0 auto;
	margin: 50px 40PX 122PX 122px;
}
.redespie img {
	position: relative;
	top:20px;
	bottom:;
	right:550px;
	left:;

	}
   .redespie img {
   	display: flex;
   	padding: 1em;


}
.redesi{
	float: right;
	padding: 2em;
	margin: 50px 120px 0;
}


@media screen and (max-width: 780px){

	body{
		width: 100%;
	}
		.menuprincipal{
			width: 80%;
		}
		.logotipo{
			width: 50%;
		}
		.buscando{
			display: none;
		}
		.menuprincipal{
			float: left;
			margin:0 0 0 0; 
			width: 70%;
		}
		.menuprincipal ul{
			display: inline-block;
			width: 100%;
		}
		.menuprincipal ul li a{
			width: 100%;
		}
		.menuprincipal ul li {
			display: inline-block;
			width: 50%;
		}
		.contenidogeneral{
			width: 100%;
			display: block;
		}
		.postcentro{
			width: 100%;
		}
		.postcentro h2{
			width: 100%;
			margin: 250px 0 0 0;
		}
		.postcentro p{
			width: 100%;
			margin: -90px 0 0 0;
		}
		.imagencentro{
			width: 100%;
			margin: 100px 0 0 0;
		}
		.subtitulo1{
			width: 20%;
			margin:-100px 0 0 50px; 
		}
		.subtitulo2{
			width: 20%;
			margin:-100px 0 0 50px;
		}
		.subtitulo3{
			width: 20%;
			margin:-100px 50PX 0 0;
		}
		.contenidoizq{
			display: none;
		}
		
		.contenidoder{
			width: 50%;
			float: left;
			margin: 20px 0 0 100px;
		}
		.mapa{
			display: none;
		}
		.pie{
			width: 100%;
			margin: 300px 0 0 0;
		}
		.fondo2{
			width: 768px;
		}
		.redespie{
			display: block;
			float: left;
		}
		.redesi{
			margin: -430px 50PX 0 0 ;
		}






	